// -----------------------------------------------------------------------------
// This file contains helper & utility classes
// -----------------------------------------------------------------------------

.container {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
