// -----------------------------------------------------------------------------
// This file contains helper & utility classes
// -----------------------------------------------------------------------------

.container {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
}