body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-semibold);
}

h1, h2, h3 {
  font-family: var(--ff-secondary);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}