


.header {
  background-color: #3DBEFF;

  &__wrapper {
    background-image: url('/assets/images/mobile/image-header.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include respond-above(lg) {

    &__wrapper {
      background-image: url('/assets/images/desktop/image-header.jpg');
    }
  }
}